{% extends './layout/base.html' %}

{% load static %}

{% block titulo %}

    {{ titulo }}

{% endblock %}

{% block estilos %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}

{% block contenido %}

<div class="row">
    <div class="col">Juan</div>
    <div class="col">Carlitos</div>
    <div class="col">Pedro</div>
</div>

<br><br>
    <p>
    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid possimus, inventore rem, fugit sed blanditiis voluptatum assumenda ratione ipsum facilis eos quaerat recusandae placeat reprehenderit aspernatur minus reiciendis. Fugit. Voluptate quam hic exercitationem nostrum recusandae perferendis consectetur voluptates eveniet iure nam praesentium quibusdam nisi, sint qui ratione officia aliquid ea illum expedita blanditiis inventore deleniti commodi voluptatibus odit! Dignissimos?'
    </p>

{% endblock %}