{% extends './layout/base.html' %}

{% load static %}

{% block titulo %}

    {{ titulo }}

{% endblock %}



{% block contenido %}

    <p>
    'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam, delectus provident qui optio voluptate! Consectetur optio id, provident magni dicta quia similique veniam quas nesciunt illum, repudiandae nostrum labore? Dicta, eveniet? Modi totam quis aliquam sit provident repellat repudiandae porro voluptates unde ipsam ea maxime delectus blanditiis iusto accusamus ab veniam, fuga nihil adipisci dolorem! Odio nihil aliquam exercitationem! Voluptatem ex itaque, consequuntur necessitatibus dolorem aspernatur ad rerum, cum amet molestiae quibusdam natus ullam excepturi minus quis et quidem reprehenderit. Nesciunt, eius debitis officiis eaque eum id illum velit?'
    </p>

{% endblock %}