<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de estudiantes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>

<header>
    
</header>

<body class="container mt-5">
    <div class="alert alert-info display-1 text-center"> Listado de Estudiantes lindos</div>
    {% if lista_estudiante %}
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>email</th>
                    <th>edad</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for e in lista_estudiante %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.edad }}</td>
                        <td>{{ e.telefono }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    {% else %}
        <div class="text-center alert alert-warning"> No hay estudiantes lindos registrados</div>
    {% endif %}
</body>

<footer>

</footer>
</html>